#avatar{
    width: 50px;
    height: auto;
    object-fit: cover;
    padding: 0%;
}

span.position-absolute.top-0{
    top: 20%!important;
    right: 10%!important;
    background-color: #7550fe!important;
}

#hero{
    background-color: #7550fe;
}

#hero-img{
    object-fit: cover;
    width: 100%;
}

.icon-sub-hero{
    background-color: #ffeeda;
    color: #c68d4f;
}

/* .card{
    width: 100%;
    min-width: 200px;
    margin: 0 30px!important;
} */

.arrow{
    max-width: 50px;
    min-width: 20px;
    width: 100%;
}

/* .card{
    max-width: 300px;
    min-width: 180px;
    width: 100%;
} */

.icon-signal{
    font-size: 9px;
    color: #7550fe;
}

.icon-star{
    font-size: 13px;
    color: orange;
}

.text-feedback{
    font-size: 16px;
}

span.avatar{
    font-size: 13px;
}

span.bookmark{
    color: lightgray;
}

span.bookmark:hover{
    cursor: pointer;
}

img.avatar{
    width: 100%;
    max-width: 30px;
    min-width: 20px;
}

span.icon-star{
margin-right: 5%;
}

.text-profile{
    font-size: 12px;
}

/* Modifica Dropdown */
.dropstart .dropdown-menu[data-bs-popper] {
    top: 100%;
    right: 0%;
    left: auto;
    width: 200px;
    margin-top: 19px;
    margin-right: var(--bs-dropdown-spacer);
}
.dropstart .dropdown-toggle::before {
    display: none;
}

/*  Codice Carosello */
@media (max-width: 767px) {
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(50%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-50%);
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}



@media (max-width:576px){

    div.card-body span{
        font-size: 11px;
    }

    span.avatar{
        font-size: 10px;
    }

    span.icon-star i{
        font-size: 8px;
    }

    span.text-feedback, span.count-feedback{
        font-size: 8px;
    }

    h6{
        font-size: 12px;
    }

}


/* Transition */

div.card{
    max-width: 244px;
    width: 100%;
    height: 100%;
    max-height: 408px;
    transform: scale(1);
}


@media (min-width: 768px){
    
    div.card:hover{
        transition: all 0.5s linear 0.2s;
        transform: scale(1.1);
        z-index: 9!important;
        position: absolute;
    }
    

}


i.fa-solid.fa-bookmark{
    position: absolute;
    top: 10%;
    left: 0;
    display: none;
    opacity: 0;
    transition: all 0.5s linear 0s!important;
}

.animate{

    display: block!important;
    
}

i.fa-solid.fa-bookmark:hover{
    opacity: 1!important;
    color: red!important;
}
